
# Ignore VS / VS Code settings directory
.vs
.vscode

# Ignore intermediate folders
Intermediate/
obj/

# Ignore any saved local files
Saved/

# Exceptions
/*.sln

# Ignore Binaries directory
Binaries/
Plugins/HotPatcher/Binaries/
Plugins/Lua53/Binaries/
