
# Ignore VS / VS Code settings directory
.vs
.vscode
.vsconfig

# Visual Studio 2015 database file
*.VC.db

# Precompiled Headers
*.gch
*.pch

# Ignore intermediate folders
Intermediate/
obj/

# Ignore any saved local files
Saved/

# Exceptions
/*.sln

# Built data for maps
*_BuiltData.uasset

# Ignore Binaries directory
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
WindowsNoEditor/
MacNoEditor/
Android_*/
Build/apk/*
Build/ipa/*
