
# Ignore VS / VS Code settings directory
.vs
.vscode
.vsconfig

# Ignore intermediate folders
Intermediate/
obj/

# Ignore any saved local files
Saved/

# Exceptions
/*.sln

# Ignore Binaries directory
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
WindowsNoEditor/
MacNoEditor/
Android_*/
IOS/
