[submodule "Plugins/StreetMap"]
	path = Plugins/StreetMap
	url = https://github.com/ue4plugins/StreetMap.git
[submodule "Plugins/RuntimeMeshComponent"]
	path = Plugins/RuntimeMeshComponent
	url = https://github.com/TriAxis-Games/RuntimeMeshComponent.git
